:root {
  --main-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --tertiary-text-color: #ffffff;
  --main-background-color: #ffffff;
  --secondary-background-color: #e7e9fc;
  --brand-color: #4d5ae5;
  --hover-color: #404bbf;
  --secondary-hover-color: #31d0aa;
  --light-mode: #f4f4fd;
  --hero-background: #2e2f42;
  --customers-section-color: #8e8f99;
  --modal-label-color: #8e8f99;
  --backgrop-color: rgba(46, 47, 66, 0.4);
  --modal-background-color: #fcfcfc;

  --items: 1;
}

/* Common properties */

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.site-nav .link:not(logo):hover,
.site-nav .link:not(logo):focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--hover-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 320px;
  max-width: 428px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* Header */

/* Mobile menu in the header */

.menu-toggle.js-open-menu {
  margin-left: auto;
  padding: 0;
  width: 32px;
  height: 22px;

  border: none;
  background-color: transparent;
  fill: #2e2f42;
  cursor: pointer;
  outline: none;
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--secondary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--secondary-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle.js-close-menu:hover,
.menu-toggle.js-close-menu:focus {
  border: none;

  background-color: var(--hover-color);
  color: var(--tertiary-text-color);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site-nav.list,
  .contacts {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  padding-top: 80px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 40px;

  background-color: var(--main-background-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav.link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-text-color);
}

.mobile-menu-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--brand-color);
}

.mobile-menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.mobile-social-list.list {
  display: flex;
  gap: 56px;
}

.mobile-social-list.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--brand-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list-icon {
  fill: var(--light-mode);
}

.mobile-social-list.link:hover,
.mobile-social-list.link:focus {
  background-color: var(--secondary-hover-color);
}

.mobile-menu-nav.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav.active {
  color: var(--hover-color);
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-bottom: 48px;
}

/* The rest of the header */

.container.main-nav {
  display: flex;
  align-items: center;
}

.page-header {
  margin-bottom: 0;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--secondary-background-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .site-nav .link {
    padding-bottom: 22px;
  }
}

.site-nav.list .link {
  position: relative;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.logo.link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .logo.link {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .logo.link {
    margin-right: 76px;
  }
}

.logo-part {
  color: var(--secondary-text-color);
}

.contacts {
  margin-left: auto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-style: normal;
  color: var(--main-text-color);
}

@media screen and (min-width: 1158px) {
  .contacts {
    font-size: 16px;
    line-height: 1.5;
  }
}

.contacts.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1157px) {
  .contacts.mail {
    display: block;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .contacts.list {
    display: flex;
    margin-left: auto;
  }
  .contacts.link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contacts.list .item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .studio.link {
    position: relative;

    color: var(--hover-color);
  }

  .studio::after {
    position: absolute;
    content: '';
    display: block;

    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;

    background-color: var(--hover-color);
    border-radius: 2px;
  }

  .portfolio.link {
    position: relative;

    color: var(--hover-color);
  }

  .portfolio::after {
    position: absolute;
    content: '';
    display: block;

    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;

    background-color: var(--hover-color);
    border-radius: 2px;
  }
}

/* Sections besides Hero */

.section {
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section.samples {
    padding-top: 0;
  }

  .section.footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* Hero */

.section-hero {
  max-width: 428px;
  height: 432px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-image-428.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-image-428@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    height: 436px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-image-768.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-image-768@2x.jpg');
    }
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    max-width: 1440px;
    height: 600px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-image-1158.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-image-1158@2x.jpg');
    }
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 72px;
  max-width: 320px;
  padding: 0;

  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-transform: capitalize;
  color: var(--tertiary-text-color);
}

@media screen and (min-width: 769px) {
  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;

  margin-left: auto;
  margin-right: auto;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--tertiary-text-color);
  background-color: var(--brand-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
}

/* Hero modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backgrop-color);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 95%;
  height: 584px;

  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);

  background: var(--modal-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  overflow: scroll;
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .modal {
    width: 392px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;

  background: var(--secondary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--secondary-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  border: none;

  background-color: var(--hover-color);
  color: var(--tertiary-text-color);
}

.modal-form-subtitle {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--secondary-text-color);
}

.modal-form-label {
  display: block;
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--modal-label-color);
}

.modal-form-label.textarea {
  display: block;
  margin-bottom: 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--modal-label-color);
}

.modal-form-label.name,
.modal-form-label.policy {
  letter-spacing: 0.04em;
}

.modal-form-label.policy {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;

  padding-left: 38px;
  padding-right: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  display: block;
  width: 100%;
  height: 120px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  margin-top: 4px;

  resize: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button {
  display: block;
  width: 169px;
  height: 56px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--tertiary-text-color);
  background-color: var(--brand-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--hover-color);
}

.modal-form-policy-link {
  color: var(--brand-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-link:hover,
.modal-form-policy-link:focus {
  color: var(--hover-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;

  margin-top: 4px;
}

.modal-form-input:focus,
.modal-form-textarea:focus {
  border: 1px solid var(--brand-color);
  outline: none;
}

.modal-form-input-wrapper:focus-within .modal-form-input-icon {
  fill: var(--brand-color);
}

.modal-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--secondary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label.policy::before {
  content: '';
  width: 16px;
  height: 16px;

  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-checkbox:checked + .modal-form-label.policy::before {
  background-color: var(--hover-color);
  border: 1px solid #404bbf;
  border-radius: 2px;
  background-image: url(../images/icon-check.svg);
  background-size: 10px 8px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-form-input-checkbox:focus + .modal-form-label.policy::before {
  border: 1px solid #404bbf;
  border-radius: 2px;
}

/* Titles of all sections besides Hero*/

.section-title {
  margin-bottom: 72px;
  margin-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  color: var(--secondary-text-color);
}

/* Features */

.icon-field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;

  background: var(--light-mode);
  border-radius: 4px;
}

@media screen and (max-width: 1157px) {
  .icon-field {
    display: none;
  }
}

.features-subtitle {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  text-transform: capitalize;

  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features-description {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--main-text-color);
}

@media screen and (min-width: 1158px) {
  .features-description {
    font-weight: inherit;
  }
}

.features.list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.features-item {
  width: 396px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .features-item {
    width: 264px;
  }
}

/* Samples */

.samples.list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

@media screen and (max-width: 1157px) {
  .section.samples {
    display: none;
  }
}

/* Team */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section.team .container {
    width: 584px;
  }
}

.section.team {
  background-color: var(--light-mode);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;

  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cards {
    gap: 64px 24px;
  }
}

.cards-subtitle {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: center;

  color: var(--secondary-text-color);
}

.cards-description {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--main-text-color);
}

.cards-item {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cards-information {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
}

.section.team .social-list.list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section.team .social-list.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: var(--brand-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section.team .social-list.link:hover,
.section.team .social-list.link:focus {
  background-color: var(--hover-color);
}

.section.team .social-list-icon {
  fill: var(--light-mode);
}

/* Customers */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section.customers .container {
    width: 584px;
  }
}

.customers.list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .customers.list {
    column-gap: 24px;
  }
}

.customers .list-item {
  width: 190px;
  height: 88px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .customers .list-item {
    width: 168px;
  }
}

.customers.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  color: var(--customers-section-color);
  border: 1px solid var(--customers-section-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers.link:hover,
.customers.link:focus {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  outline: none;
}

.customers-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .customers-icon {
    width: 104px;
  }
}

/* Footer */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section.footer .container {
    width: 582px;
  }
}

.footer {
  background-color: var(--secondary-text-color);
}

.logo-footer {
  color: var(--light-mode);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 268px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;

  color: var(--light-mode);
}

@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
}

@media screen and (max-width: 767px) {
  .footer-text {
    margin-left: auto;
    margin-right: auto;
  }
}

.social-list-subheading {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tertiary-text-color);
}

@media screen and (max-width: 767px) {
  .social-list-subheading {
    text-align: center;
  }
}

.footer .social-list.list {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .footer .social-list.list {
    justify-content: center;
  }
}

.footer .social-list.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--brand-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-icon {
  fill: var(--light-mode);
}

.footer .social-list.link:hover,
.footer .social-list.link:focus {
  background-color: var(--secondary-hover-color);
}

.subscribe-subheading {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tertiary-text-color);
}

@media screen and (max-width: 767px) {
  .subscribe-subheading {
    text-align: center;
  }
}

.footer-email-field {
  width: 100%;
  height: 40px;

  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  color: var(--tertiary-text-color);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .footer-email-field {
    width: 264px;
  }
}

.footer-email-field::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.6;

  color: var(--tertiary-text-color);
}

.subscribe-button {
  display: flex;
  align-items: center;
  gap: 16px;

  width: 165px;
  height: 40px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;

  background-color: var(--brand-color);
  color: var(--tertiary-text-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .subscribe-button {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-button {
    margin-left: 24px;
  }
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--hover-color);
}

.subscribe-icon {
  fill: var(--main-background-color);
}

@media screen and (max-width: 767px) {
  .company-information-container {
    text-align: center;
  }
}

@media screen and (max-width: 1157px) {
  .company-information-container {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .company-information-container {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .company-information-container {
    margin-right: 120px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .social-list-container {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .social-list-container {
    margin-right: 80px;
  }
}

@media screen and (min-width: 768px) {
  .section.footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
  }
}
