:root {
  --main-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --tertiary-text-color: #ffffff;
  --main-background-color: #ffffff;
  --secondary-background-color: #e7e9fc;
  --brand-color: #4d5ae5;
  --hover-color: #404bbf;
  --secondary-hover-color: #31d0aa;
  --light-mode: #f4f4fd;
  --hero-background: #2e2f42;
  --customers-section-color: #8e8f99;
  --modal-label-color: #8e8f99;
  --backgrop-color: rgba(46, 47, 66, 0.4);
  --modal-background-color: #fcfcfc;
}

/* Common properties */

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}

.site-nav .link:not(logo):hover,
.site-nav .link:not(logo):focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--hover-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.page-header {
  margin-bottom: 0;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--secondary-background-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  position: relative;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.logo.link {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.logo-part {
  color: var(--secondary-text-color);
}

.contacts {
  margin-left: auto;
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
}

.contacts.list {
  display: flex;
  margin-left: auto;
}

.contacts.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts.list .item:not(:last-child) {
  margin-right: 40px;
}

.studio.link {
  position: relative;

  color: var(--hover-color);
}

.studio::after {
  position: absolute;
  content: '';
  display: block;

  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;

  background-color: var(--hover-color);
  border-radius: 2px;
}

.portfolio.link {
  position: relative;

  color: var(--hover-color);
}

.portfolio::after {
  position: absolute;
  content: '';
  display: block;

  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;

  background-color: var(--hover-color);
  border-radius: 2px;
}

/* Hero */

.section-hero {
  margin-bottom: 0;
  padding-top: 188px;
  padding-bottom: 188px;

  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/background-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 496px;

  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--tertiary-text-color);
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;

  margin-left: auto;
  margin-right: auto;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--tertiary-text-color);
  background-color: var(--brand-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
}

/* Hero modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backgrop-color);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 408px;
  min-height: 576px;

  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);

  background: var(--modal-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;

  background: var(--secondary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--secondary-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  border: none;

  background-color: var(--hover-color);
  color: var(--tertiary-text-color);
}

.modal-form-subtitle {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.modal-form-label {
  display: block;
  margin-bottom: 8px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--modal-label-color);
}

.modal-form-label.textarea {
  display: block;
  margin-bottom: 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--modal-label-color);
}

.modal-form-label.name,
.modal-form-label.policy {
  letter-spacing: 0.04em;
}

.modal-form-label.policy {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;

  padding-left: 38px;
  padding-right: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  display: block;
  width: 100%;
  height: 120px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  margin-top: 4px;

  resize: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button {
  display: block;
  width: 169px;
  height: 56px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--tertiary-text-color);
  background-color: var(--brand-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--hover-color);
}

.modal-form-policy-link {
  color: var(--brand-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;

  margin-top: 4px;
}

.modal-form-input:focus,
.modal-form-textarea:focus {
  border: 1px solid var(--brand-color);
  outline: none;
}

.modal-form-input-wrapper:focus-within .modal-form-input-icon {
  fill: var(--brand-color);
}

.modal-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--secondary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label.policy::before {
  content: '';
  width: 16px;
  height: 16px;

  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-checkbox:checked + .modal-form-label.policy::before {
  background-color: var(--hover-color);
  border: 1px solid #404bbf;
  border-radius: 2px;
  background-image: url(../images/icon-check.svg);
  background-size: 10px 8px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-form-input-checkbox:focus + .modal-form-label.policy::before {
  border: 1px solid #404bbf;
  border-radius: 2px;
}

/* Titles of all sections besides Hero*/

.section-title {
  margin-bottom: 72px;
  margin-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* Main sections besides Hero */

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.section-description {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.list-item:not(:last-child) {
  margin-right: 24px;
}

/* Features */

.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--main-background-color);
}

.features {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
}

.features .section-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
}

.features .section-description {
  margin: 0;
  padding: 0;
}

.features .list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.icon-field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;

  background: var(--light-mode);
  border-radius: 4px;
}

/* Samples */

.section-samples {
  padding-bottom: 120px;
  background-color: var(--main-background-color);
}

.section-samples .list-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.samples.list {
  display: flex;
  margin: 0;
  padding: 0;
}

/* Team */

.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light-mode);
}

.cards {
  display: flex;
  text-align: center;
}

.cards .list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-subtitle.name {
  margin-top: 0;
  text-align: center;
  margin-bottom: 8px;
}

.section-description.position {
  margin-bottom: 8px;
  text-align: center;
}

.card-information {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section.team .social-list.list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.section.team .social-list.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: var(--brand-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section.team .social-list.link:hover,
.section.team .social-list.link:focus {
  background-color: var(--hover-color);
}

.section.team .social-list-icon {
  fill: var(--light-mode);
}

/* Customers section */

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--main-background-color);
}

.customers.list {
  display: flex;
  gap: 24px;
}

.customers .list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
  margin: 0;
}

.section-customers .section-title {
  line-height: 1.1;
}

.customers.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  color: var(--customers-section-color);
  border: 1px solid var(--customers-section-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers.link:hover,
.customers.link:focus {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  outline: none;
}

.customers-icon {
  fill: currentColor;
}

/* Portfolio section */

.section-products {
  padding-top: 96px;
  padding-bottom: 120px;
  background-color: var(--main-background-color);
}

.filter {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}

.filter-button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: var(--brand-color);
  background-color: var(--light-mode);
  border: 1px solid var(--secondary-background-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--tertiary-text-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.products.link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products.link:hover,
.products.link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.products-item .section-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
}

.products-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;

  border-bottom: 1px solid var(--secondary-background-color);
  border-right: 1px solid var(--secondary-background-color);
  border-left: 1px solid var(--secondary-background-color);
}

.products.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.products-item {
  flex-basis: calc((100% - 2 * 24px) / 3);

  background: var(--main-background-color);
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--light-mode);
  background-color: var(--brand-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products.link:hover .overlay,
.products.link:focus .overlay {
  transform: translateY(0%);
}

/* Footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .company-information-container {
    text-align: center;
    margin-bottom: 72px;
  }
}

.logo-footer {
  color: var(--light-mode);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-mode);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.company-information-container {
  margin-right: 120px;
}

.footer .social-list {
  display: flex;
}

.social-list-subheading {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tertiary-text-color);
}

.footer .social-list.list {
  display: flex;
  gap: 16px;
}

.footer .social-list.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--brand-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-icon {
  fill: var(--light-mode);
}

.footer .social-list.link:hover,
.footer .social-list.link:focus {
  background-color: var(--secondary-hover-color);
}

.social-list-container {
  margin-right: 80px;
}

.subscribe-subheading {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tertiary-text-color);
}

.footer-email-field {
  width: 264px;
  height: 40px;
  margin-right: 24px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  color: var(--tertiary-text-color);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-email-field::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.6;

  color: var(--tertiary-text-color);
}

.subscribe-form {
  display: flex;
}

.subscribe-button {
  display: flex;
  align-items: center;
  gap: 16px;

  width: 165px;
  height: 40px;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;

  background-color: var(--brand-color);
  color: var(--tertiary-text-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--hover-color);
}

.subscribe-icon {
  fill: var(--main-background-color);
}
